@font-face {
  font-family: SkyLinkExtendedHeavy;
  src: url(/fonts/skylink-extended-heavy-web.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SkyLink;
  src: url(/fonts/skylink-regular-web.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SkyLink;
  src: url(/fonts/skylink-medium-web.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SkyLink;
  src: url(/fonts/skylink-bold-web.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SkyLink;
  src: url(/fonts/skylink-heavy-web.woff2) format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
